.top-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.35rem;
  padding: 0.08rem 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.top-contact i {
  color: #f7941d;
  padding: 0.15rem;
}

.top-contact .top-mail-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 1.8rem;
  width: 100%;
  background-color: #333333;
  position: relative;
}

.navbar .header-logo {
  height: 1.1rem;
  width: 2.1rem;
  background: url("../img/logo.png") no-repeat center center/cover;
  background-size: 100% 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 0.3rem;
  cursor: pointer;
}

.navbar .nav-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 100%;
  padding: 0 7%;
}

.navbar .nav-search .inner-nav-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  position: relative;
}

.navbar .nav-search input[type="text"] {
  height: 0.6rem;
  height: 0.6rem;
  width: 100%;
  border-radius: 0.1rem;
  border: none;
  padding: 0.2rem;
  font-size: 0.3rem;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0 0 0.8rem #3f3f3f;
          box-shadow: 0 0 0.8rem #3f3f3f;
}

.navbar .nav-search input[type="text"]:focus {
  outline: none;
  border: 2px solid #f7941d;
}

.navbar .nav-search .search {
  position: absolute;
  font-size: 0.4rem;
  right: 0.2rem;
}

.navbar .wishlist-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  cursor: pointer;
}

.navbar .wishlist-cart .heart,
.navbar .wishlist-cart .bag, .navbar .wishlist-cart .bars {
  font-size: 0.5rem;
  color: white;
  padding: 0 0.3rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.navbar .wishlist-cart .bars {
  color: #f7941d;
}

.navbar .wishlist-cart .bag:hover,
.navbar .wishlist-cart .heart:hover {
  color: #f7941d;
}

.navbar .nav-search-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 7%;
}

.navbar .nav-search-down .inner-nav-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  position: relative;
}

.navbar .nav-search-down input[type="text"] {
  height: 0.6rem;
  height: 0.6rem;
  width: 100%;
  border-radius: 0.1rem;
  border: none;
  padding: 0.2rem;
  font-size: 0.3rem;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0 0 0.8rem #3f3f3f;
          box-shadow: 0 0 0.8rem #3f3f3f;
}

.navbar .nav-search-down input[type="text"]:focus {
  outline: none;
  border: 2px solid #f7941d;
}

.navbar .nav-search-down .search {
  position: absolute;
  font-size: 0.4rem;
  right: 0.2rem;
}

.navbar .hamburge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: .4rem;
  width: 100vw;
  height: auto;
  z-index: 100;
  top: 1.2rem;
  left: 0;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: .5rem;
}

.navbar .hamburge .hamburge-list {
  width: 100%;
  margin: .1rem;
  cursor: pointer;
}

.navbar .hamburge .hamburge-list-container {
  width: 100%;
  margin: .1rem;
  cursor: pointer;
}

.navbar .hamburge .hamburge-list-container .categories-popup {
  height: 0;
  display: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navbar .hamburge .men.open .categories-popup, .navbar .hamburge .women.open .categories-popup {
  display: block;
  width: 100%;
  height: 3.5rem;
  padding: 0.2rem;
}

.navbar .hamburge .men.open .categories-popup h6, .navbar .hamburge .women.open .categories-popup h6 {
  font-size: 0.3rem;
  font-weight: 700;
  line-height: 0.8rem;
  padding: 0 0.4rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar .hamburge .men.open .categories-popup h6:hover, .navbar .hamburge .women.open .categories-popup h6:hover {
  color: #f7941d;
}

.categories-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.35rem;
  height: 1rem;
  width: 100%;
  border-bottom: 2px solid #f7941d;
}

.categories-container .category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 0.99rem;
  cursor: pointer;
  width: calc(14rem / 5);
}

.categories-container .category-list:hover {
  background-color: #f7941d;
  color: #fff;
}

.categories-container .category-list:hover .categories-popup {
  color: black;
  display: block;
}

.categories-container .category-list:hover .down-arrow {
  display: none;
}

.categories-container .category-list:hover .up-arrow {
  display: inline-block;
}

.categories-container i {
  margin: 0 0.2rem;
}

.categories-container .men,
.categories-container .women {
  width: calc(13rem / 5);
  height: 0.99rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories-container .men .up-arrow,
.categories-container .women .up-arrow {
  display: none;
}

.categories-container .men .categories-popup,
.categories-container .women .categories-popup {
  display: none;
  position: absolute;
  left: 0;
  top: 1rem;
  width: 3.8rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0.1rem #303030;
          box-shadow: 0 0 0.1rem #303030;
  padding: 0.2rem;
}

.categories-container .men .categories-popup h6,
.categories-container .women .categories-popup h6 {
  font-size: 0.3rem;
  font-weight: 500;
  line-height: 0.8rem;
  padding: 0 0.4rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.categories-container .men .categories-popup h6:hover,
.categories-container .women .categories-popup h6:hover {
  background-color: #f7941d;
  color: white;
}

@media screen and (max-width: 908px) {
  :root {
    font-size: 50px;
  }
}

@media screen and (max-width: 790px) {
  :root {
    font-size: 45px;
  }
}

@media screen and (max-width: 554px) {
  .top-contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 463px) {
  .navbar {
    padding: 0 0.3rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 2.9rem;
  }
  .nav-search {
    display: none !important;
  }
  .nav-search-down {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .categories-container {
    visibility: hidden;
  }
}
